<h1>Register Payments</h1>

<form action="add-payment" method="POST">

<label for="inputName">Name</label><br>
<input id="inputName" type="text" name="name">

<br><br>

<label for="inputValue">Value</label><br>
<input id="inputValue" type="text" name="value">

<br><br>

<button type="submit">Record</button>

</form>
